table {
    font-family: verdana;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #81CFE0;
    color: #fff;
  }
  td:first-child{
    width: 50px;
  }
  td{
    width: 100px;
    border-bottom: 1px #dddddd;
  }
  tr:nth-child(odd) {
    background-color: #81CFE0;
    color: #fff;
  }
  tr:hover {
    background-color: greenyellow;
    color: black;
  }